body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.background {
  background-color: dimgray;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.space {
  margin: 15px;
}

.isLiked {
  background-color: gray;
}
