<div class="background">
  <mat-toolbar color="primary">
    <span> News </span>
    <span><mat-icon>mood</mat-icon></span>
  </mat-toolbar>
  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Error Occurred :(
  </div>

  <div *ngFor="let news of newsAll">
    <mat-card>
      <mat-card-title>{{ news.title }}</mat-card-title>
      <mat-card-subtitle>{{ news.author }}</mat-card-subtitle>
      <mat-card-content>{{ news.content }}</mat-card-content>

      <div *ngIf="news.like">
        <button mat-fab color="accent" (click)="updateNews(!news.like, news)">
          <mat-icon>mood</mat-icon>
        </button>
      </div>
      <div *ngIf="!news.like">
        <button mat-fab color="accent" (click)="updateNews(!news.like, news)">
          <mat-icon>mood_bad</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
